.containeryellow {
    background-color: #FFEBA1;
    height: 100vh; 
    padding: 5vw; 
    font-family:'Courier New', Courier, monospace; 
}

.book { 
    height: 200px; 
    width: 70vw; 
    background-color: white; 
}

.recordings { 
    padding: 5vw; 
    font-family:'Courier New', Courier, monospace; 
}
