html, #root, .App, body{
  margin: 0;
  padding: 0;
  min-height:100vw;
  height: 100vh;
  overflow: auto;
  background-color: #6F69AC;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-family: -apple-system, BlinkMacSystemFont, 'Press Start 2P', cursive, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn > img {
    max-height: 100%;
}

.btn > span {
  font-family: 'Press Start 2P';
  margin-left: 1rem;
  font-size: 1.2rem;
}